#![enable(implicit_some)]
(
  //log_level: Debug,
  log_level: Error,
  pawn: (
    velocity: (x: 64.0, y: 64.0, z: 64.0),
  ),
  physics: (
    gravity: -3.0,
    lift_width: 10.0,
    lift_height: 10.0,
    lift_force: (x: 0.0, y: 5.0),
    lift_force_rotation: 0.1,
    change_direction_width: 10.0,
    change_direction_height: 10.0,
    exit_width: 50.0,
    exit_height: 50.0,
    walker_force: 2.0,
  ),
  camera: (
    convergence_speed: 1.0,
    offset: (x: 75.0, y: 50.0, z: 0.0),
    z_min: 100.0,
    z_max: 500.0,
    zoom_speed: 100.0,
    gridline_width: 0.0,
  ),
  spawner: (
    frequency_min: 0.1,
    frequency_max: 4.0,
    frequency_default: 0.5,
    max_default: 50,
  ),
  levels: (
    levels: [(
      walls: ( color: (r: 0.5, g: 0.5, b: 0.5, a: 1.0 ), list: [
        (size: (x: 1000.0, y: 10.0, z: 0.1), position: (x: 500.0, y: 5.0, z: 0.0)), //Bottom
        (size: (x: 1000.0, y: 10.0, z: 0.1), position: (x: 500.0, y: 995.0, z: 0.0)), //Top
        (size: (x: 10.0, y: 1000.0, z: 0.1), position: (x: 5.0, y: 500.0, z: 0.0)), //Left
        (size: (x: 10.0, y: 1000.0, z: 0.1), position: (x: 995.0, y: 500.0, z: 0.0)), //Right

        //Obsticles
        (size: (x: 200.0, y: 10.0, z: 0.1), position: (x: 100.0, y: 100.0, z: 0.0)),
        (size: (x: 200.0, y: 10.0, z: 0.1), position: (x: 400.0, y: 100.0, z: 0.0)),
        (size: (x: 100.0, y: 85.0, z: 0.1), position: (x: 400.0, y: 52.5, z: 0.0)),
        (size: (x: 100.0, y: 100.0, z: 0.1), position: (x: 400.0, y: 200.0, z: 0.0)),
      ]),
      deadly_areas: ( color: (r: 0.8, g: 0.1, b: 0.1, a: 1.0 ), list: [
        (size: (x: 10.0, y: 85.0, z: 0.1), position: (x: 345.0, y: 52.5, z: 0.0)),
        (size: (x: 540.0, y: 10.0, z: 0.1), position: (x: 720.0, y: 15.0, z: 0.0)),
      ]),
      exits: ( color: (r: 0.1, g: 0.8, b: 0.8, a: 1.0 ), list: [
        (size: (x: 40.0, y: 40.0, z: 0.1), position: (x: 480.0, y: 130.0, z: 0.0)),
      ]),
      spawners: ( color: (r: 0.1, g: 0.1, b: 0.8, a: 1.0 ), list: [
        (size: (x: 30.0, y: 30.0, z: 0.1), position: (x: 50.0, y: 50.0, z: 0.0)),
      ]),
    )],
  ),
)