#![enable(implicit_some)]
(
  log_level: Info,
  pawn: (
    velocity: (x: 64.0, y: 64.0, z: 64.0),
  ),
  physics: (
    gravity: -3.0,
    lift_width: 10.0,
    lift_height: 30.0,
    lift_y_offset: -15.0,
    lift_force: (x: 0.0, y: 5.0),
    lift_force_rotation: 0.0,
    change_direction_width: 10.0,
    change_direction_height: 10.0,
    exit_width: 50.0,
    exit_height: 50.0,
    walker_force: 2.0,
  ),
  camera: (
    convergence_speed: 2.0,
    offset: (x: 75.0, y: 50.0, z: 0.0),
    z_min: 100.0,
    z_max: 500.0,
    zoom_speed: 100.0,
    gridline_width: 0.0,
  ),
  spawner: (
    frequency_min: 0.1,
    frequency_max: 4.0,
    frequency_default: 0.1,
    max_default: 100,
  ),
  levels: (
    start_level: 0,
    levels: [
      (
        name: "Easy beginnings",
        description: "Press 2 to drop a lift to raise them through the gap",
        walls: ( color: (r: 0.5, g: 0.5, b: 0.5, a: 1.0 ), list: [
          (size: (x: 1000.0, y: 10.0, z: 0.1), position: (x: 500.0, y: 5.0, z: 0.0)), //Bottom
          (size: (x: 1000.0, y: 10.0, z: 0.1), position: (x: 500.0, y: 995.0, z: 0.0)), //Top
          (size: (x: 10.0, y: 1000.0, z: 0.1), position: (x: 5.0, y: 500.0, z: 0.0)), //Left
          (size: (x: 10.0, y: 1000.0, z: 0.1), position: (x: 995.0, y: 500.0, z: 0.0)), //Right

          //Obsticles
          (size: (x: 200.0, y: 10.0, z: 0.1), position: (x: 100.0, y: 100.0, z: 0.0)),
          (size: (x: 200.0, y: 10.0, z: 0.1), position: (x: 400.0, y: 100.0, z: 0.0)),
          (size: (x: 100.0, y: 85.0, z: 0.1), position: (x: 400.0, y: 52.5, z: 0.0)),
          (size: (x: 100.0, y: 100.0, z: 0.1), position: (x: 400.0, y: 200.0, z: 0.0)),
        ]),
        deadly_areas: ( color: (r: 0.8, g: 0.1, b: 0.1, a: 1.0 ), list: [
          (size: (x: 10.0, y: 85.0, z: 0.1), position: (x: 345.0, y: 52.5, z: 0.0)),
          (size: (x: 540.0, y: 10.0, z: 0.1), position: (x: 720.0, y: 15.0, z: 0.0)),
        ]),
        exits: ( color: (r: 0.1, g: 0.8, b: 0.1, a: 1.0 ), list: [
          (size: (x: 25.0, y: 25.0, z: 0.1), position: (x: 480.0, y: 125.0, z: 0.0)),
        ]),
        spawners: ( color: (r: 0.1, g: 0.1, b: 0.8, a: 1.0 ), list: [
          (size: (x: 30.0, y: 30.0, z: 0.1), position: (x: 50.0, y: 50.0, z: 0.0)),
        ]),
      ),
      (
        name: "Turn around bright eyes",
        description: "Press 3 to drop a direction changer after passing the obsticle",
        walls: ( color: (r: 0.5, g: 0.5, b: 0.5, a: 1.0 ), list: [
          (size: (x: 1000.0, y: 10.0, z: 0.1), position: (x: 500.0, y: 5.0, z: 0.0)), //Bottom
          (size: (x: 1000.0, y: 10.0, z: 0.1), position: (x: 500.0, y: 995.0, z: 0.0)), //Top
          (size: (x: 10.0, y: 1000.0, z: 0.1), position: (x: 5.0, y: 500.0, z: 0.0)), //Left
          (size: (x: 10.0, y: 1000.0, z: 0.1), position: (x: 995.0, y: 500.0, z: 0.0)), //Right

          //Obsticles
          (size: (x: 200.0, y: 10.0, z: 0.1), position: (x: 100.0, y: 100.0, z: 0.0)),
          (size: (x: 600.0, y: 10.0, z: 0.1), position: (x: 600.0, y: 100.0, z: 0.0)),
          (size: (x: 100.0, y: 85.0, z: 0.1), position: (x: 400.0, y: 52.5, z: 0.0)),

          //This block has fallen
          (size: (x: 100.0, y: 100.0, z: 0.1), position: (x: 400.0, y: 175.0, z: 0.0),
            color: (r: 0.2, g: 0.2, b: 0.2, a: 1.0), rotation: 0.2),
        ]),
        deadly_areas: ( color: (r: 0.8, g: 0.1, b: 0.1, a: 1.0 ), list: [
          (size: (x: 10.0, y: 85.0, z: 0.1), position: (x: 345.0, y: 52.5, z: 0.0)),
          (size: (x: 540.0, y: 10.0, z: 0.1), position: (x: 720.0, y: 15.0, z: 0.0)),
        ]),
        exits: ( color: (r: 0.1, g: 0.8, b: 0.1, a: 1.0 ), list: [
          (size: (x: 25.0, y: 25.0, z: 0.1), position: (x: 480.0, y: 125.0, z: 0.0)),
        ]),
        spawners: ( color: (r: 0.1, g: 0.1, b: 0.8, a: 1.0 ), list: [
          (size: (x: 30.0, y: 30.0, z: 0.1), position: (x: 50.0, y: 50.0, z: 0.0)),
        ]),
      ),
      (
        name: "The Climb",
        description: "Lots of lifts required",
        walls: ( color: (r: 0.5, g: 0.5, b: 0.5, a: 1.0 ), list: [
          (size: (x: 1000.0, y: 10.0, z: 0.1), position: (x: 500.0, y: 5.0, z: 0.0)), //Bottom
          (size: (x: 1000.0, y: 10.0, z: 0.1), position: (x: 500.0, y: 995.0, z: 0.0)), //Top
          (size: (x: 10.0, y: 1000.0, z: 0.1), position: (x: 5.0, y: 500.0, z: 0.0)), //Left
          (size: (x: 10.0, y: 1000.0, z: 0.1), position: (x: 995.0, y: 500.0, z: 0.0)), //Right

          //Obsticles
          (size: (x: 200.0, y: 300.0, z: 0.1), position: (x: 100.0, y: 245.0, z: 0.0)),
          (size: (x: 200.0, y: 300.0, z: 0.1), position: (x: 400.0, y: 245.0, z: 0.0)),
          (size: (x: 100.0, y: 85.0, z: 0.1), position: (x: 400.0, y: 52.5, z: 0.0)),
        ]),
        deadly_areas: ( color: (r: 0.8, g: 0.1, b: 0.1, a: 1.0 ), list: [
          (size: (x: 10.0, y: 85.0, z: 0.1), position: (x: 345.0, y: 52.5, z: 0.0)),
          (size: (x: 540.0, y: 10.0, z: 0.1), position: (x: 720.0, y: 15.0, z: 0.0)),
        ]),
        exits: ( color: (r: 0.1, g: 0.8, b: 0.1, a: 1.0 ), list: [
          (size: (x: 50.0, y: 50.0, z: 0.1), position: (x: 475.0, y: 430.0, z: 0.0)),
        ]),
        spawners: ( color: (r: 0.1, g: 0.1, b: 0.8, a: 1.0 ), list: [
          (size: (x: 30.0, y: 30.0, z: 0.1), position: (x: 50.0, y: 50.0, z: 0.0)),
        ]),
      ),
      (
        name: "Hotdogs down a hallway",
        description: "Don't touch the sides",
        camera_overrides: (
          offset: (x: 75.0, y: 0.0, z: 0.0),
        ),
        walls: ( color: (r: 0.5, g: 0.5, b: 0.5, a: 1.0 ), list: [
          (size: (x: 1300.0, y: 10.0, z: 0.1), position: (x: 650.0, y: 5.0, z: 0.0)), //Bottom
          (size: (x: 1300.0, y: 10.0, z: 0.1), position: (x: 650.0, y: 245.0, z: 0.0)), //Top
          (size: (x: 10.0, y: 250.0, z: 0.1), position: (x: 5.0, y: 125.0, z: 0.0)), //Left
          (size: (x: 10.0, y: 250.0, z: 0.1), position: (x: 1295.0, y: 125.0, z: 0.0)), //Right
        ]),
        deadly_areas: ( color: (r: 0.8, g: 0.1, b: 0.1, a: 1.0 ), list: [
          (size: (x: 1150.0, y: 10.0, z: 0.1), position: (x: 720.0, y: 235.0, z: 0.0)),
          (size: (x: 1150.0, y: 10.0, z: 0.1), position: (x: 720.0, y: 15.0, z: 0.0)),
        ]),
        exits: ( color: (r: 0.1, g: 0.8, b: 0.1, a: 1.0 ), list: [
          (size: (x: 10.0, y: 230.0, z: 0.1), position: (x: 1285.0, y: 125.0, z: 0.0)),
        ]),
        spawners: ( color: (r: 0.1, g: 0.1, b: 0.8, a: 1.0 ), list: [
          (size: (x: 30.0, y: 30.0, z: 0.1), position: (x: 50.0, y: 50.0, z: 0.0)),
        ]),
      ),
      (
        name: "1-2-1-3",
        description: "Lifts and change direction required",
        walls: ( color: (r: 0.5, g: 0.5, b: 0.5, a: 1.0 ), list: [
          (size: (x: 1800.0, y: 30.0, z: 0.1), position: (x: 900.0, y: 10.0, z: 0.0)), //Bottom
          (size: (x: 1800.0, y: 30.0, z: 0.1), position: (x: 900.0, y: 490.0, z: 0.0)), //Top
          (size: (x: 10.0, y: 500.0, z: 0.1), position: (x: 5.0, y: 250.0, z: 0.0)), //Left
          (size: (x: 10.0, y: 500.0, z: 0.1), position: (x: 1795.0, y: 250.0, z: 0.0)), //Right

          (size: (x: 300.0, y: 50.0, z: 0.1), position: (x: 150.0, y: 166.0, z: 0.0)),
          (size: (x: 300.0, y: 50.0, z: 0.1), position: (x: 150.0, y: 333.0, z: 0.0)),

          (size: (x: 300.0, y: 50.0, z: 0.1), position: (x: 600.0, y: 166.0, z: 0.0)),
          (size: (x: 300.0, y: 50.0, z: 0.1), position: (x: 600.0, y: 333.0, z: 0.0)),

          (size: (x: 300.0, y: 50.0, z: 0.1), position: (x: 1050.0, y: 166.0, z: 0.0)),
          (size: (x: 300.0, y: 50.0, z: 0.1), position: (x: 1050.0, y: 333.0, z: 0.0)),

          (size: (x: 300.0, y: 50.0, z: 0.1), position: (x: 1500.0, y: 166.0, z: 0.0)),
          (size: (x: 300.0, y: 50.0, z: 0.1), position: (x: 1500.0, y: 333.0, z: 0.0)),
        ]),
        deadly_areas: ( color: (r: 0.8, g: 0.1, b: 0.1, a: 1.0 ), list: [
          (size: (x: 150.0, y: 100.0, z: 0.1), position: (x: 150.0, y: 250.0, z: 0.0)),
          (size: (x: 150.0, y: 100.0, z: 0.1), position: (x: 150.0, y: 83.0, z: 0.0)),

          (size: (x: 150.0, y: 100.0, z: 0.1), position: (x: 600.0, y: 416.0, z: 0.0)),
          (size: (x: 150.0, y: 100.0, z: 0.1), position: (x: 600.0, y: 83.0, z: 0.0)),

          (size: (x: 150.0, y: 100.0, z: 0.1), position: (x: 1050.0, y: 250.0, z: 0.0)),
          (size: (x: 150.0, y: 100.0, z: 0.1), position: (x: 1050.0, y: 83.0, z: 0.0)),

          (size: (x: 150.0, y: 100.0, z: 0.1), position: (x: 1500.0, y: 250.0, z: 0.0)),
          (size: (x: 150.0, y: 100.0, z: 0.1), position: (x: 1500.0, y: 416.0, z: 0.0)),
        ]),
        exits: ( color: (r: 0.1, g: 0.8, b: 0.1, a: 1.0 ), list: [
          (size: (x: 10.0, y: 480.0, z: 0.1), position: (x: 1785.0, y: 250.0, z: 0.0)), //Right
        ]),
        spawners: ( color: (r: 0.1, g: 0.1, b: 0.8, a: 1.0 ), list: [
          (size: (x: 30.0, y: 30.0, z: 0.1), position: (x: 50.0, y: 420.0, z: 0.0)),
        ]),
      ),
    ],
  ),
)