#![enable(implicit_some)]
Container (
    transform: (
        id: "container",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0.),
    ),
    children: [
        Text (
            transform: (
                id: "name",
                anchor: TopMiddle,
                x: 0.,
                y: -100.,
                width: 800.,
                height: 40.,
                transparent: true,
            ),
            text: (
                text: "",
                font_size: 40.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", Ttf, ()),
                align: Middle,
            ),
        ),
        Text (
            transform: (
                id: "description",
                anchor: TopMiddle,
                x: 0.,
                y: -140.,
                width: 800.,
                height: 40.,
                transparent: true,
            ),
            text: (
                text: "",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", Ttf, ()),
                align: Middle,
            ),
        ),

        Text (
            transform: (
                id: "running",
                anchor: TopLeft,
                x: 110.,
                y: -20.,
                width: 220.,
                height: 40.,
                transparent: true,
            ),
            text: (
                text: "Running",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", Ttf, ()),
                align: TopLeft,
            ),
        ),
        Text (
            transform: (
                id: "fps",
                anchor: TopLeft,
                x: 150.,
                y: -40.,
                width: 300.,
                height: 40.,
                transparent: true,
            ),
            text: (
                text: "FPS: 00.0",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", Ttf, ()),
                align: TopLeft,
            ),
        ),
        Text (
            transform: (
                id: "rate",
                anchor: TopLeft,
                x: 150.,
                y: -60.,
                width: 300.,
                height: 40.,
                transparent: true,
            ),
            text: (
                text: "RATE: 0",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", Ttf, ()),
                align: TopLeft,
            ),
        ),
        Text (
            transform: (
                id: "spawned",
                anchor: TopLeft,
                x: 150.,
                y: -80.,
                width: 300.,
                height: 40.,
                transparent: true,
            ),
            text: (
                text: "SPAWN: 0/0",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", Ttf, ()),
                align: TopLeft,
            ),
        ),
        Text (
            transform: (
                id: "killed",
                anchor: TopLeft,
                x: 150.,
                y: -100.,
                width: 300.,
                height: 40.,
                transparent: true,
            ),
            text: (
                text: "KILLED: 0",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", Ttf, ()),
                align: TopLeft,
            ),
        ),
        Text (
            transform: (
                id: "saved",
                anchor: TopLeft,
                x: 150.,
                y: -120.,
                width: 300.,
                height: 40.,
                transparent: true,
            ),
            text: (
                text: "SAVED: 0",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", Ttf, ()),
                align: TopLeft,
            ),
        ),

        Image(
            transform: (
                id: "lift_icon",
                y: 40.,
                x: 40.,
                width: 64.,
                height: 64.,
                anchor: BottomLeft,
            ),
            image: (
                image: File("texture/lift_icon.png", Png, (channel: Srgb)),
            )
        ),
        Image(
            transform: (
                id: "change_direction_icon",
                y: 40.,
                x: 96.,
                width: 64.,
                height: 64.,
                anchor: BottomLeft,
            ),
            image: (
                image: File("texture/change_direction_icon.png", Png, (channel: Srgb)),
            )
        ),
        Image(
            transform: (
                id: "ram_icon",
                y: 40.,
                x: 158.,
                width: 64.,
                height: 64.,
                anchor: BottomLeft,
            ),
            image: (
                image: File("texture/ram_icon.png", Png, (channel: Srgb)),
            )
        ),
    ]
)